[project]
	description = Experimental Asset Manager microservices framework
[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group user/xxx-build (xxx-build)
	label-Code-Review = -2..+2 group user/xxx-build (xxx-build)
	label-Verified = -1..+1 group user/xxx-build (xxx-build)
	label-Sonar-Verified = -1..+1 group user/xxx-build (xxx-build)
	label-G11N-Verified = -1..+1 group user/xxx-build (xxx-build)
[access "refs/for/refs/*"]
	read = group user/xxx-build (xxx-build)
	push = group user/xxx-build (xxx-build)
	label-Code-Review = -2..+2 group user/xxx-build (xxx-build)
	label-Verified = -1..+1 group user/xxx-build (xxx-build)
	rebase = group user/xxx-build (xxx-build)
	removeReviewer = group user/xxx-build (xxx-build)
	submit = group user/xxx-build (xxx-build)
[access "refs/heads/*"]
	read = group user/xxx-build (xxx-build)
	create = group user/xxx-build (xxx-build)
	push = +force group user/xxx-build (xxx-build)
	pushMerge = group user/xxx-build (xxx-build)
	label-Code-Review = -2..+2 group xxx Core Reviewers
[submit]
	action = rebase if necessary
[label "Sonar-Verified"]
    branch = refs/heads/*
    function = NoBlock
    value = -1 Issues found
    value = 0 No score
    value = +1 Verified
    defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[submit-requirement "Sonar-Verified"]
	description = A maximum vote from a non-uploader is required for the \
	              'Sonar-Verified' label. A minimum vote is blocking.
	submittableIf = label:Sonar-Verified=MAX AND -label:Sonar-Verified=MIN
	canOverrideInChildProjects = true
[label "G11N-Verified"]
    branch = refs/heads/*
    function = NoBlock
    value = -1 Issues found
    value = 0 No score
    value = +1 Verified
    defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[submit-requirement "G11N-Verified"]
	description = A maximum vote from a non-uploader is required for the \
	              'G11N-Verified' label. A minimum vote is blocking.
	submittableIf = label:G11N-Verified=MAX AND -label:G11N-Verified=MIN
	canOverrideInChildProjects = true
[access "refs/tags/*"]
	createSignedTag = group user/xxx-build (xxx-build)
	createTag = group user/xxx-build (xxx-build)
	push = group user/xxx-build (xxx-build)
[access "refs/heads/2020.11"]
	create = group user/xxx-build (xxx-build)
	label-Code-Review = -2..+2 group xxx Core Reviewers
	label-Code-Review = -2..+2 group user/xxx-build (xxx-build)
	push = +force group user/xxx-build (xxx-build)
	pushMerge = group user/xxx-build (xxx-build)
	read = group user/xxx-build (xxx-build)
Powered by Gitiles
txt
json
